<% content_for :javascripts do %>
  <%= javascript_include_tag 'clusters', data: { turbolinks_track: 'reload' } %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag    'clusters', media: 'all', data: { turbolinks_track: 'reload' } %>
<% end %>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" role="tablist">
          <% @names.each_with_index do |name, index| %>
          <li<%= ' class=active' if index.zero? %>>
            <a href="#cluster<%= index + 1 %>" role="tab" data-toggle="tab" data-placement="bottom" title="<%= pluralize(@data[index][:slots], 'place', plural: 'places') %> disponible"><%= name %></a>
          </li>
          <% end %>
          <li>
            <a href="#stats" role="tab" data-toggle="tab">Stats</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hide" id="charts"><%= @charts.to_json %></div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade" id="stats">
      <div class="container-fluid">
        <div class="row">
            <div class="page-header">
              <h1>Étudiants connectés par heure</h1>
              <p>
                <%= Date.current.strftime(t'date.formats.long') %>
              </p>
            </div>
          <div class="charts"></div>
        </div>
      </div>
    </div>
    <% @names.each_with_index do |name, index| %>
    <div role="tabpanel" class="tab-pane fade<%= ' in active' if index.zero? %>" id="cluster<%= index + 1 %>">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <%= render 'layouts/notice' %>
            <!--div class="alert alert-info alert-dismissible" role="alert">
              <strong class="text-uppercase">Nous développons actuellement en direct, ceci pourrait provoquer quelques dysfonctionnements !</strong>
            </div-->
            <!--div class="alert alert-success alert-dismissible" role="alert">
              <strong class="text-uppercase">Le système pour signaler tout défaut sur un iMac est désormais fonctionnel !</strong>
            </div-->
            <!--div class="alert alert-danger alert-dismissible" role="alert">
              <strong class="text-uppercase">Suite à un problème technique les données ne sont plus mise à jour, il sera réglé sous peu.</strong>
            </div-->
            <div id="myAlert" class="alert alert-dismissible hide" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span></span>
            </div>
            <div class="table table-responsive table-cluster">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <% @columns[index].each do |name| %>
                    <% unless name.empty? %>
                    <th><%= name %></th>
                    <% else %>
                    <th>&nbsp;</th>
                    <% end %>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% @maps[index].each do |row_index, row_value| %>
                  <tr>
                    <td><%= row_index %></td>
                    <% row_value.each do |station| %>
                    <td id="<%= station[:host] %>">
                      <div class="<%= station[:class].join ' ' %>" <%= station[:data].map { |name, value| 'data-' + name.to_s + '="' + value + '"' }.join(' ').html_safe %>>
                        <% if station[:kind] == :station && station[:data].present? %>
                          <%= image_tag(station[:data][:avatar], size: '32', alt: station[:data][:login], class: 'img-circle thumbnail-profile') %>
                        <% else %>
                          <% if station[:kind] == :station %><span class="glyphicon glyphicon-phone"></span><% end %>&nbsp;
                        <% end %>
                      </div>
                    </td>
                    <% end %>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
