  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar" role="tablist">
          <% @names.each_with_index do |name, index| %>
          <li<%= ' class=active' if index.zero? %>>
            <a href="#cluster<%= index + 1 %>" role="tab" data-toggle="tab">Cluster <%= index + 1 %> (<%= name %>)</a>
            <ul class="nav nav-subsidebar">
              <li><span><%= pluralize(@data[index][:slots], 'place', 'places') %> disponible</span></li>
            </ul>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main-content">
        <%= render 'layouts/notice' %>
        <!--div class="alert alert-info alert-dismissible" role="alert">
          <strong class="text-uppercase">Nous développons actuellement en direct, ceci pourrait provoquer quelques dysfonctionnements !</strong>
        </div-->
        <!--div class="alert alert-success alert-dismissible" role="alert">
          <strong class="text-uppercase">Le système pour signaler tout défaut sur un iMac est désormais fonctionnel !</strong>
        </div-->
        <!--div class="alert alert-danger alert-dismissible" role="alert">
          <strong class="text-uppercase">Suite à un problème technique les données ne sont plus mise à jour, il sera réglé sous peu.</strong>
        </div-->
        <div id="myAlert" class="alert alert-dismissible hide" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span></span>
        </div>
        <div class="tab-content">
          <% @names.each_with_index do |name, index| %>
          <div class="tab-pane fade<%= ' in active' if index.zero? %>" id="cluster<%= index + 1 %>">
            <div class="page-header">
              <h1>Cluster <%= index + 1 %> (<%= name %>)</h1>
            </div>
            <div class="table table-responsive table-cluster">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <% col_num = 0 %>
                    <% @maps[index][1].each do |station_value| %>
                    <% if station_value == 'x' || station_value == 'o' || station_value == '-' %>
                    <th><%= col_num += 1 %></th>
                    <% else %>
                    <th>&nbsp;</th>
                    <% end %>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% @maps[index].each_with_index do |row_value, row_index| %>
                  <tr>
                    <td><%= row_index + 1 %></td>
                    <% row_value.each_with_index do |station_value, station_index| %>
                    <% if station_value == 'x' || station_value == '-' %>
                    <% class_name = ['station'];
                    if station_index == 0 || (row_value[station_index - 1] != 'x' && row_value[station_index - 1] != '-')
                      class_name << 'block-begin'
                    elsif station_index == (row_value.length - 1) || (row_value[station_index + 1] != 'x' && row_value[station_index + 1] != '-')
                      class_name << 'block-end'
                    elsif (row_value[station_index - 1] == 'x' || row_value[station_index - 1] == '-') && (row_value[station_index + 1] == 'x' || row_value[station_index + 1] == '-')
                      class_name << 'block-middle'
                    end
                    %>
                    <% if station_value == 'x' %>
                    <% parent_data, childen_data = {}, {}
                    if client = @data[index][:users]["e#{index + 1}r#{row_index + 1}p#{station_index + 1}"]
                      class_name << 'station-success'
                      parent_data = { login: client.login, 'last-activity': '', avatar: '' };
                      childen_data = { title: client.display_name || '', placement: 'auto' };
                    else
                      class_name << 'station-default'
                    end %>
                    <td id="e<%= index + 1 %>r<%= row_index + 1 %>p<%= station_index + 1 %>"<%= parent_data.map { |name, value| 'data-' + name.to_s + '="' + value + '"' }.join(' ').html_safe %>>
                      <div class="<%= class_name.join ' ' %>"<%= childen_data.map { |name, value| 'data-' + name.to_s + '="' + value + '"' }.join(' ').html_safe %>><span class="glyphicon glyphicon-phone"></span>&nbsp;</div>
                    </td>
                    <% elsif station_value == '-' %>
                    <% class_name << 'station-default' %>
                    <td id="e<%= index + 1 %>r<%= row_index + 1 %>p<%= station_index + 1 %>">
                      <div class="<%= class_name.join ' ' %>">&nbsp;</div>
                    </td>
                    <% end %>
                    <% elsif station_value == 'o' %>
                    <td>
                      <div class="block-begin block-end station station-obstacle">&nbsp;</div>
                    </td>
                    <% elsif station_value == '.' %>
                    <td class="space">&nbsp;</td>
                    <% end %>
                    <% end %>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <% end %>
<!--
            if (isset($cache[$roomIndex][sprintf('r%dp%d', $row, $station)]))
            {
              $client = $cache[$roomIndex][sprintf('r%dp%d', $row, $station)]['user'];
              $defects = $cache[$roomIndex][sprintf('r%dp%d', $row, $station)]['defects'];
              $parent_data = array();
              $childen_data = array();
              $icon = 'phone';

              if ($defects !== NULL)
              {
                if ($defects->global > 0)
                {
                  if ($defects->global & 1)
                  {
                    $class[] = 'text-danger';
                    $icon = 'open';
                    $parent_data[] = 'data-station="removed"';
                  }
                  elseif ($defects->global & 2)
                  {
                    $class[] = 'text-danger';
                    $icon = 'wrench';
                    $parent_data[] = 'data-station="maintenance"';
                  }
                }
                else if ($defects->monitor > 0 || $defects->keyboard > 0 || $defects->mouse > 0)
                {
                  $class[] = 'text-warning';
                  $icon = 'warning-sign';
                }
              }

              if ($client !== NULL)
              {
                $class[] = 'station-success';
              }
              else
              {
                $class[] = 'station-default';
              }

              if ($client !== NULL && $this->session->has_userdata('userid'))
              {
                $parent_data[] = 'data-login="'. $client->login .'"';
                $parent_data[] = 'data-last-activity="'. date('d-m-Y H:i:s', strtotime($client->last_activity)) .'"';
                $parent_data[] = 'data-avatar="'. (empty($client->avatar) ? 'https://intra.42.fr/static7089/img/nopicture-profilview.png' : $client->avatar) .'"';
                $childen_data[] = 'data-title="'. $client->name .' ('. $client->years .')"';
                $childen_data[] = 'data-placement="'. ($row > 0 && $row < 7 ? 'top' : 'bottom') .'"';
              }

              echo '                    <td id="e'. $cluster .'r'. $row .'p'. $station .'" '. implode(' ', $parent_data) .'>'. PHP_EOL;
              echo '                      <div class="'. implode(' ', $class) .'" data-contextmenu="default" '. implode(' ', $childen_data) .'>'. (!empty($icon) ? '<span class="glyphicon glyphicon-'. $icon .'"></span>' : '&nbsp;') .'</div>'. PHP_EOL;
              echo '                    </td>'. PHP_EOL;
            }
            else
            {
              $class[] = 'station-default';

              echo '                    <td id="e'. $cluster .'r'. $row .'p'. $station .'">'. PHP_EOL;
              echo '                      <div class="'. implode(' ', $class) .'" data-contextmenu="default"><span class="glyphicon glyphicon-phone"></span></div>'. PHP_EOL;
              echo '                    </td>'. PHP_EOL;
            }
-->
        </div>
      </div>
    </div>
  </div>