<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Meet2Code</title>
  <%= render 'layouts/favicon' %>
  <%= stylesheet_link_tag    'application', media: 'all', data: { turbolinks_track: 'reload' } %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'application', data: { turbolinks_track: 'reload' } %>
  <%= yield :javascripts %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-24535049-18', 'auto');
    <% if user_signed_in? %>ga('set', '&uid', <%= current_user.id %>);<% end %>
    ga('send', 'pageview');
  </script>
  <%= csrf_meta_tags %>
  <style type="text/css">
    td:nth-child(odd) > div > span {transform: rotate(180deg)}
    .station-success {background-color: #dff0d8; border-color: #d6e9c6 !important; color: #3c763d}
    .station-warning {background-color: #fcf8e3; border-color: #faebcc !important; color: #8a6d3b}
    .station-danger {background-color: #f2dede; border-color: #ebccd1 !important; color: #a94442}
    .station-default {background: #f5f5f5}
    .jabber-me {background: #d9edf7}
    .station-obstacle {background: #d7d7d7}
    div[class^=block-], div[class*=block-] {border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; border-width: 1px 1px 4px 1px}
    .block-begin {border-left: 1px solid #e7e7e7; border-bottom-left-radius: 3px}
    .block-end {border-right: 1px solid #e7e7e7; border-bottom-right-radius: 3px}
    .space {width: 25px}
    .table-cluster td:first-child {font-weight: bold; width: 25px}
    .table-cluster th {border-bottom: 0 !important}
    .table-cluster th, td {border-bottom: 10px solid transparent; text-align: center; width: 30px}
    .table-cluster td {height: 47px; padding: 0 !important; vertical-align: middle !important; border-top: 0 !important}
    .station {line-height: 47px}
    .station-popover {width: 250px; height: 131px}
    .station-popover h1 {font-size: 18px; line-height: 25px; color: #666666}
    .station-popover figure {float: left; height: 128px; width:112px; margin-right: 10px}
    .station-popover .info {float: left; width: 128px; font: 11px Arial, Helvetica, sans-serif; color: #808080}
    .station-popover .info p > span {font-weight: bold}
    .popover-title {text-align: center; font-weight: bold}
    .popover.bottom>.arrow:after {border-bottom-color: #f7f7f7}
    .progress {margin-bottom: 0}
    .progress-bar-text {position: absolute; width: 100%; text-align: center}
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 42 Tools</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="<%= 'active' if controller_name == 'clusters' %>"><%= link_to 'Carte des clusters', root_path %></li>
          <li class="divider"></li>
<% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.user_info_short.display_name %> <%= image_tag('https://cdn.intra.42.fr/userprofil/' + current_user.user_info_short.login + '.jpg', size: '60', alt: current_user.user_info_short.login, class: 'img-circle thumbnail-profile') %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Mon profil</a></li>
              <li><%= link_to 'Mon historique', users_histories_path %></li>
              <li class="divider"></li>
              <li><%= link_to('Se déconnecter', destroy_user_session_path, :method => :delete) %></li>
            </ul>
          </li>
<% else %>
          <li><%= link_to 'Se connecter / Créer un nouveau compte', user_born2code_omniauth_authorize_path %></li>
<% end %>
        </ul>
      </div>
    </div>
  </nav>
<%= yield %>
</body>
</html>
